extends layout

block content
    input#message(type='text')
    button#submit Send
    div#board

    script(type='text/javascript').
        var socket = io();
        $('#submit').on('click', (function() {
            socket.emit('msg', $('#message').val());
            $('#message').val('');
            return false;
        }));
        socket.on('msg', function(data) {
            $('#board').append(data + '<br>');
        });



