extends layout

block content
   .container.login
      .row
         .span4.offset4
            .dialog.login
               .contents
                  form.well(method='POST', action='/login')
                     label email:
                     input(type='text', name='email', value=email)
                     label PASSWORD:
                     input(type='password', name='password')
                     .control-group
                        button.btn(type='submit', name='login') Login
      if message
         .row
            .span4.offset4
               .alert.alert-info
                  i.icon-exclamation-sign
                  |  #{message}