extends layout
block content
   .container.register
      h2 Please register your account!!
      .row
         .span4.offset4
            .dialog.register
               .contents
                  form.well(method='POST', action='/register')
                     label USERNAME:
                     input(type='text', name='name', value=name)
                     label PASSWORD:
                     input(type='password', name='password')
                     .control-group
                        button.btn(type='submit', name='login') Login
      if loginFailed
         .row
            .span4.offset4
               .alert.alert-info
                  i.icon-exclamation-sign
                  |  Register Failed.Please check your input.
